* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-box {
    width: 1249px;
    height: 376px;
    border-radius: 30px;
    background-color: #22f4da;
    margin: 75px auto;
    padding: 30px;
}
.main-title {
    font-size: 32px;
    color: #000000;
    text-align: center;
}
